body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {box-sizing: border-box; margin: 0;}

.header {
    background-image: linear-gradient(to right, #45abca, #19295f);
    box-shadow: 0 0 20px #000;
    position: sticky;
    top: 0;
    width: 98.8vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    max-width: 1200px;
    gap: 20px;
}
.catalogo {
    max-width: 110px;
    font-size: 16px;
    width: auto;
}
.search-bar-and-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.search-bar-and-menu label {
    font-size: 30px;
    margin-right: 20px;
}
#checkbox {
    display: none;
}
#checkbox:checked ~ .header-nav {
    display: flex;
}

.header-nav {
    display: none;
    position: absolute;
    top: 107px;
    color: #fff;
    text-decoration: none;
    background-color: #3339;
    height: 400px;
    width: 100vw;
    margin: auto;
    top: 120px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
    border: none;
}
.header-nav a {
    background-color: #000c;
    width: 200px;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: font-size color outline;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header-nav a:active {
    outline: 1px solid #fff;
    color: #ffe139;
    font-size: 20px;
}
.catalogo-and-searchbar-container {
    min-width: 80%;
}
.logo-container {
    display: none;
}
.logo-container h2 {
    font-weight: initial;
    font-size: 12px;
    margin-right: 10px;
}

.logo-container img{
    width: 35px;
    border-radius: 50%;
}


#menu {
    font-size: 40px;
    margin-right: 20px;
}

.search-bar {
    background-color: #0004;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    padding: 8px 6px;
    width: 100%;
    column-span: 3;
}
.search-bar input {
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;
    font-size: 18px;
    width: 90%;
}

.search-bar input::placeholder {color: #fff;}

.main-container {
    padding: 10px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 80vw;
    gap: 10px;
    place-content: center;
    max-width: 1000px;
}

.product-img-container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    border-bottom: 1px solid #555;
    background-color: #fff;
}

.product-img-container img {
    width: 100%;
    border-radius: 12px;
    transition: transform filter;
    transition-duration: .2s;
}
.container-product:hover img{
    transform: scale(1.1);
    filter: brightness(0.9);
}

.container-product {
    box-shadow: 0 0 10px #000;
    border: 1px solid #aaa;
    border-radius: 12px;
    background-image: linear-gradient(#000, #19295f);
}

.product-text  {
    padding: 4px;
    font-size: 16px;
    color: #eee;
    margin-bottom: 5px;
}

.product-name {
    font-size: 14px;
    color: #ccc;
}

.price {
    font-size: 20px;
    color: #e3eeff;
    margin-left: 4px;
}
.no-results {
    text-align: center;
    color: #777;
    font-style: italic;
    font-size: 1.1rem;
    grid-column: 1 / -1;
    padding: .5rem;
    margin-top: 20px;
    max-width: clamp(80vw, 300px, 100vw);
    height: max-content;
}
@media  screen and (min-width: 670px) {
    .catalogo {
        display: none;
    }
    .logo-container {
        display: flex;
    }
    .logo-container h2 {
        font-size: 16px;
    }
    .header-nav {
        display: flex;
        flex-direction: row;
        position: initial;
        background-color: transparent;
        height: auto;
        justify-content: space-between;
        width: initial;
    }
    .header-nav a {
        width: auto;
        background-color: initial;
    }
    .header-nav a:hover {
        background-image: linear-gradient(#000, #0006);
        color: #ffe139;
        font-size: 17px;
    }
    #menu {
        display: none;
    }
    .catalogo-and-searchbar-container{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .logo-container {
        display: flex;
        align-items: center;
    }
    .main-container {
        gap: 20px;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        max-width: 1000px;
    }
    .container-item {border-radius: 16px;}
    .item-img {border-top-left-radius: 16px; border-top-right-radius: 16px;}
    .item-text {padding: 10px;}
    .catalogo {font-size: 17px;}
    .catalogo-and-searchbar-container {
        display: flex;
        min-width: initial;
        width: 600px;
        gap: 5px;
    }
    .search-bar {
        min-width: 400px;
    }
}